/* ====== LAYOUT GLOBAL ====== */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    gap: 2rem;
    padding: 5rem 0;
}

/* ====== ASIDE ====== */

aside {
    flex: 1;
    height: fit-content;
    position: sticky;   /* 👈 meilleur que fixed */
    top: 2rem;
    backdrop-filter: blur(2px);
    border: solid 3px var(--color-primary);
    border-radius: 30px 0 0 30px;
    padding: 1.5rem;
    text-align: center;
    border-right: none;
}

.MainText h1{
    background: var(--title-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* ====== ARTICLE ====== */

article {
    margin: 0 15rem 5rem 5rem;
    padding: 2rem;
    border-left: 2px solid var(--color-primary);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.4);
}

/* ====== IMAGES ====== */

.titre_reseaux img {
    height: 40px;
    margin-bottom: 1rem;
}

/* ====== LIENS ====== */

a {
    color: white;
    text-decoration: none;
}

.button {

    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    transform-origin: center;

    background-color: transparent;

    border: none;
}

.button:hover {
    --active: 1;
}

.icon_cont {
    overflow: clip;

    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(var(--active) * 1.5rem + (1 - var(--active)) * 0.5rem);
    height: calc(var(--active) * 1.5rem + (1 - var(--active)) * 0.5rem);
    background-color: hsla(0, 0%, 85%, var(--active));

    border: 1px solid var(--color-secondary);
    border-radius: 9999px;
    transition: all 0.5s ease-in-out;
}

.icon {
    font-size: 0.75rem;
    color: var(--color-secondary-shadow);
    line-height: 1rem;

    transform: translateX(calc(-1rem * (1 - var(--active))));
    transition: transform 0.5s ease-in-out;
}

.text_button {
    position: relative;

    display: inline-block;

    padding-block: 0.5rem;

    font-size: 1rem;
    font-weight: 600;
    color: var(--color-secondary);

    text-transform: capitalize;
}
.text_button::before {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    width: calc((1 - var(--active)) * 100%);
    height: 1px;
    background-color: var(--color-secondary);

    border-radius: 9999px;
    transition: width 0.5s ease-in-out;
}






/* ============================= */
/* ========= MOBILE ========= */
/* ============================= */

@media screen and (max-width: 768px) {

    main {
        flex-direction: column;
    }

    aside {
        position: static;
        width: 100%;

        display: grid;                       /* 👈 on passe en grid */
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes */

        justify-items: center;              /* centre horizontalement */
        align-items: center;

        padding: 1.5rem;

        border-radius: 0;
    }

    .titre_reseaux {
        width: 100%;
        text-align: center;
    }

    .titre_reseaux img {
        height: 35px;
    }
}