section h1 {
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding-block: 3vw;
}

.descriptor {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin-inline: auto;
    margin: 3rem auto;
    aspect-ratio: auto;
}

.descriptor div{
    display: flex;
    flex-direction: column;
    padding: 3vw;
    margin: auto;
}
.imgMob {
    width: 10vw;
    image-rendering: pixelated;
}

.descriptor img:not(.imgMob){
    width: 15vw;
    margin-block: auto;
    border-radius:1rem;
    margin-right: 2vw;
}



.descriptor div{
    background: rgba(0,0,0,0.3);
    padding: 2vw;
    border-left: solid 5px var(--color-primary);
    border-radius: 30px;
    width: 100%;
    margin-block: 0;
}

