
main{
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    position:relative;
    margin: auto;
    justify-content: space-between;
}

#profilePic{
    width:10vw;
}

.presentation{
    display:flex;
    flex-direction:row;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    padding:var(--spacing-base);
    border-radius: 50px;
}

.presentation>p{
    text-align:left;
    margin:var(--spacing-base);
}

h1{
    margin-top:100px;
    font-family: "Electrolize", monospace;
    color: var(--color-secondary);
    line-height: 1.2em;
    font-size:2vw;
    margin-bottom:20px;
    text-shadow:3px 3px var(--color-secondary-shadow);
    text-align: center;
}

p{
    text-align: center;
    font-size:1vw;
    color:var(--color-secondary);
    font-family: "Electrolize", serif;
    text-shadow:2px 2px var(--color-secondary-shadow);
    line-height:1.7;
}

.link-line{
    color: var(--color-secondary);
    font-size: 1vw;
    text-shadow:1px 1px var(--color-secondary-shadow);
    margin-block:1.5vh;

}

.pixel-link{
    color: var(--color-secondary);
    text-shadow:1px 1px var(--color-secondary-shadow);
    position:relative;
    transition:color .2s, text-shadow .2s;
    text-decoration: none;
}

.pixel-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-3px;
    width:100%;
    height:2px;
    background: var(--color-secondary);
    transform:scaleX(0);
    transform-origin:left;
    transition:transform .2s ease-out;
}

.pixel-link:hover{
    color: var(--color-secondary);
    text-shadow:
            var(--color-secondary),
            var(--color-secondary-shadow),;
}

.pixel-link:hover::after{
    transform:scaleX(1);
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color:var(--color-primary);
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg {
    color: #020222;
}

.button:hover .button_lg::after {
    background-color: #fff;
}


@media (max-width: 768px){
    h1{
        font-size:5vw;
        line-height:1.3em;
    }
    p{
        font-size:2.5vw;
    }
    button{
        font-size:2.5vw;
        padding:2.5vh 4vw;
        margin:2vw;
    }
    .link-line{
        font-size:3vw;
    }
}

@media (max-width: 480px){
    h1{
        font-size:6vw;
    }
    p{
        font-size:3.5vw;
    }
    button{
        font-size:3.5vw;
        padding:3vh 5vw;
    }
    .link-line{
        font-size:4vw;
    }
}
