:root {
    --color-primary: #a6efd1;
    --color-secondary: #def1ff;
    --color-primary-shadow: #104e3d;
    --color-secondary-shadow: #3f464a;
    --font-title-main:"Audiowide", monospace;
    --font-title-secondary: "Press Start 2P", monospace;
    --font-main: 'Arial', sans-serif;
    --spacing-base: 1vw;
    --headerGap : 2vw;
    --active: 0;
    --title-color: linear-gradient(#ffc684, #9d93ff);
}
